<div class="startseite password-recovery">
		<picture class="d-none d-lg-block">
            <source srcset="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/logo.jpg" media="(min-width: 992px)">
            <img class="startseite-background" src="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/logo-mobile.jpg">
		</picture>
		
		<div class="startseite-mv-center-container">
				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mv-intro-text">
						<h1 class="display-4">Du hast Post!</h1>
						<p class="lead text-left">
								Wir haben die Anfrage zum Löschen deines Accounts erhalten.<br />
								<br />
								Aus Sicherheitsgründen müssen wir sicherstellen, dass du wirklich der Account-Inhaber bist.
								Aus diesem Grund haben wir dir eine E-Mail mit einem Bestätigungslink gesendet.<br />
								Wenn du deinen Account damit bestätigst, werden wir deinen Account und deine Bilder löschen.
						</p>
				</div>
		</div>
</div>