<div class="startseite password-recovery">
		<picture class="d-none d-lg-block">
            <source srcset="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/logo.jpg" media="(min-width: 992px)">
            <img class="startseite-background" src="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/logo-mobile.jpg">
		</picture>
		
		<div class="startseite-mv-center-container">
				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mv-intro-text">
						<h1 class="display-4">Dein Account wurde gelöscht</h1>
						<p class="lead text-left">
								Schade, dass du deinen Account gelöscht hast.<br />
								Du kannst jederzeit einen neuen Account anlegen.<br />
								<br />
								Wir wünschen dir alles Gute!
						</p>
				</div>
		</div>
</div>