<div class="startseite password-recovery">
		<picture class="d-none d-lg-block">
            <source srcset="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/logo.jpg" media="(min-width: 992px)">
            <img class="startseite-background" src="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/logo-mobile.jpg">
		</picture>
		
		<div class="startseite-mv-center-container">
				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mv-intro-text">
						<h1 class="display-4">Es ist ein Fehler aufgetreten</h1>
						<p class="lead">
								{$ERRORMESSAGE}
						</p>
						<p>
								<a href="{$TEMPLATE_URL}meine-daten"><button class="btn btn-primary">Zurück zu meinem Account</button></a>
						</p>
				</div>
		</div>
</div>