</head>
<body {if isset($HTML_BODY_CLASSES)} class="{$HTML_BODY_CLASSES}"{/if}>
  <header class="mb-auto">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <div class="container-fluid">
          {* <!-- <div style=""> --> *}
              <a class="navbar-brand" href="{$TEMPLATE_URL}">Click&Meet</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                      <li class="nav-item active">
                          <a class="nav-link" aria-current="page" href="{$TEMPLATE_URL}login">Login</a>
                      </li>
                      {* <!-- 
                      <li class="nav-item active">
                          <a class="nav-link" aria-current="page" href="{$TEMPLATE_URL}registrieren">Account erstellen</a>
                      </li> --> *}
                  </ul>
                  <ul class="navbar-nav ms-auto flex-nowrap navbar-right">
                      <li class="nav-item active">
                          <a class="nav-link" aria-current="page" href="{$TEMPLATE_URL}impressum">Impressum</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" aria-current="page" href="{$TEMPLATE_URL}datenschutz">Datenschutz</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" aria-current="page" href="{$TEMPLATE_URL}nutzungsbedingungen">Nutzungsbedingungen</a>
                      </li>
                      <!--
                      <li class="nav-item">
                      <a class="nav-link" href="#"></a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                      </li>
                      -->
                  </ul>
              </div>
          </div>
      </nav>
  </header>
    