{* <!--


<div class="startseite">
		<picture>
				<source srcset="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/tellface5.jpg" media="(min-width: 992px)">
				<img class="startseite-background" src="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/tellface5-mobile.jpg">
		</picture>
		
		<div class="startseite-mv-center-container">
				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mv-intro-text">
						<p class="index-title-heading">Was du schon immer wissen wolltest!</p>
						<h1 class="display-4">Wie alt sehe ich aus?</h1>
						<p class="lead">Tellface hilft dir herauszufinden, wie alt andere dich auf deinen Bildern einschätzen. Es ist ganz einfach. Anmelden, Bild hochladen, schätzen lassen.</p>
						<p class="buttons">
								<a href="{$TEMPLATE_URL}login"><button type="button" class="btn btn-outline-primary">Anmelden</button></a>
								<a href="{$TEMPLATE_URL}registrieren"><button type="button" class="btn btn-outline-info">Registrieren</button></a>
						</p>
				</div>
		</div>
</div>

--> *}

missing content..