<div class="mv-container-min-full">
    <main class="form-signin">
      <form action="{$RECOVER_PASSWORD_FORM_URL}" method="post" id="mv-recover-password-form" style="margin-bottom: 32px;">
          <h1 class="h3 mb-3 fw-normal">Passwort vergessen?</h1>
          <p>Bitte gib deine E-Mail Adresse ein, mit der du dich registriert hast. Wir senden dir eine E-Mail mit einem Link, über den du dein Passwort erneuern kannst.</p>
          
          {if is_array($ERRORS)}
              {if isset($ERRORS['wrong_login_data'])}
                  <div class="alert alert-danger" role="alert">
                      {$ERRORS.wrong_login_data}
                  </div>
              {/if}
          {/if}
          
          <label for="mail" class="visually-hidden">E-Mail Adresse</label>
          <input type="mail" id="mail" name="mail" class="form-control{if isset($ERRORS.mail)} is-invalid{/if}" placeholder="E-Mail Adresse" autofocus="autofocus" value="{$DATA.mail}">
     
          <div style="margin-top: 24px;">
              <button class="w-100 btn btn-lg btn-primary" type="submit">E-Mail senden</button>
          </div>
          
          <div style="margin-top: 6px"><a href="{$TEMPLATE_URL}login">Zurück zum Login</a></div>
     
          <small id="mv-error-message" class="text-danger" {if count($ERRORS) == 0}style="display: none;"{/if}>
              <br />Irgendwas stimmt nicht. Bitte prüfe deine Eingaben nochmal.
          </small>
      </form>
    </main>
</div>