<div class="startseite password-recovery">
		<picture class="d-none d-lg-block">
            <source srcset="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/logo.jpg" media="(min-width: 992px)">
            <img class="startseite-background" src="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/logo-mobile.jpg">
		</picture>
		
		<div class="startseite-mv-center-container">
				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mv-intro-text">
						<h1 class="display-4">E-Mail Adresse zurücksetzen</h1>
						<p>Aus Sicherheitsgründen musst du ein neues Passwort vergeben.</p>

						{* <!--
						{if is_array($ERRORS)}
								{if isset($ERRORS['wrong_login_data'])}
										<div class="alert alert-danger" role="alert">
												{$ERRORS.wrong_login_data}
										</div>
								{/if}
						{/if}
						--> *}
						
						<p class="lead">Bitte gib dein neues Passwort zwei mal ein:</p>
						<form action="{$RECOVER_MAIL_ACCOUNT_FORM_URL}" method="post" class="text-left" id="mv-reset-password-form">
								<div class="mv-account-pass-new">
										<label>Neues Passwort</label>
										<p class="mv-account-container">
												<input type="password" placeholder="Mind. 8 Zeichen" name="password" class="form-control" id="password" value="" />
												<span class="text-danger mv-password-error" style="display: none;">Das Passwort muss mindestens 8 Zeichen lang sein.</span>
										</p>
								</div>
								
								<div class="mv-account-pass-new-repeat">
										<label>Neues Passwort wiederholen</label>
										<p class="mv-account-container">
												<input type="password" placeholder="Bitte zur Sicherheit nochmal eingeben.." name="password_repeat" class="form-control" id="password-repeat" value="" />
												<span class="text-danger mv-password-repeat-error" style="display: none;">Die Passwörter stimmen nicht überein.</span>
										</p>
								</div>
								
								<div class="row">
										<div class="col-sm"><button type="submit" class="btn btn-success">Passwort speichern</button></div>
										<div class="col-sm text-right mv-recover-passwd"><a href="{$TEMPLATE_URL}login">Zurück zum Login</a></div>
								</div>
								<small id="mv-error-message" class="text-danger" {if count($ERRORS) == 0}style="display: none;"{/if}>
										<br />Irgendwas stimmt nicht. Bitte prüfe deine Eingaben nochmal.
								</small>
						</form>
				</div>
		</div>
</div>