<div class="mv-container-min-full">
    <main class="form-signin">
        <div class="startseite register">
            <div class="startseite-mv-center-container">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mv-intro-text">
                    <p class="index-title-heading">Der Account wurde angelegt. Fast geschafft!</p>
                    <h1 class="display-4">Du hast Post!</h1>
                    <p class="lead">Wir haben dir eine E-Mail gesendet. In der musst du noch auf den beigefügten Link klicken,
                    um deine E-Mail Adresse zu bestätigen.<br />
                    Das ist der letzte Schritt, dann sind wir fertig. :)<br />
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>