<div class="startseite password-recovery">
		<picture class="d-none d-lg-block">
				<source srcset="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/tellface5.jpg" media="(min-width: 992px)">
				<img class="startseite-background" src="{$TEMPLATE_URL}data/templates/{$TEMPLATE}/img/tellface5-mobile.jpg">
		</picture>
		
		<div class="startseite-mv-center-container">
				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mv-intro-text">
						<h1 class="display-4">Nicht erfolgreich</h1>

						{* <!--
						{if is_array($ERRORS)}
								{if isset($ERRORS['wrong_login_data'])}
										<div class="alert alert-danger" role="alert">
												{$ERRORS.wrong_login_data}
										</div>
								{/if}
						{/if}
						--> *}
						
						<p class="lead">
								Es tut uns leid, aber das hat nicht geklappt.<br  />
								Wenn du es nochmal versuchen möchtest, folge diesem Link:<br />
								<a href="{$RECOVER_PASSWORD_PAGE_URL}">Passwort zurücksetzen</a>
						</p>
				</div>
		</div>
</div>